{% extends 'layout/layout.html' %}

{% block body %}
    <div class="main">

        <h1>{{ config.appconfig.appname }}</h1>
        <p>{{ sample_hello }}</p>
        <p>KYOKOTSU: {{ sample_kyokotsu }}</p>
        <p>ICHU: {{ sample_ichu }}</p>

        <form action="{{ rootpath }}sample" method="post">
            <div>
                <input type="text" name="sample_post" value="テストです">
            </div>
            <div>
                <button type="submit">送信</button>
            </div>
        </form>
    </div>
{% endblock %}
